.hydrogeology,
.ameliorative {
	margin-bottom: 250px;

	.container {
		width: 100%;
		max-width: 1280px !important;
		margin: 0 auto !important;
		padding: 0 20px;	
	}

	.hydrogeology__heading-width {
		display: block;
		width: 100%;
		max-width: 990px;
		font-size: 40px;
	}

	.workers--padding {
		padding-bottom: 0;
	}

	.hydrogeology__info {
		display: block;
		margin: 0;
		margin-bottom: 5px;
		font-family: 'Mazzard';
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		line-height: 40px;
		color: #242424;

		&--padding-left {
			padding-left: 40px;
		}

		&--margin-small {
			margin-bottom: 20px;
		}

		&--margin-big {
			margin-bottom: 40px;
		}

		&--margin-bigest {
			margin-bottom: 80px;
		}

		&--margin-middle {
			margin-bottom: 30px;
		}

		&--bold {
			font-size: 30px;
			font-weight: 600;
		}

		&--text{
			text-align: center;
		}

		&--size{
			width: 100%;
			max-width: 915px;
			font-size: 26px;
			margin: 0 auto;
			margin-bottom: 80px;
		}
	}

	.hydrogeology__service {
		margin: 0;
		margin-bottom: 10px;
		padding: 0;

		&--margin-bottom {
			margin-bottom: 40px;
		}
	}

	.hydrogeology__images-box{
		display: flex;
		width: 100%;
		max-width: 1280px;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 120px;

		&--margin{
			margin-bottom: 20px;
		}
	}

	.image6{
		display: block;
		width: 100%;
		max-width: 1025px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.image7{
		display: block;
		width: 100%;
		max-width: 430px;
		margin: 0 auto;
		margin-bottom: 20px;

		&--margin-bottom{
			margin-bottom: 10px;
		}
	}
}
